@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
  margin: 0;
  font-family: 'Otomanopee One', sans-serif;
  color: #BD2124;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4889D7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board{
  text-align:center;
  margin:auto;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgb(0, 0, 0);
  font-size: 30px;
}

.board-row{
  display:flex;
  justify-content: center;
}

.btn{
  height:120px;
  width:120px;
  font-size: 50px;
  border: none;
  margin: 5px;
  background-color: #E07F1A;
  font-family: 'Otomanopee One', sans-serif;
}

.App{
  width:80%;
  margin:auto;
}

.header{
  text-align:center;
  font-size:40px;
  text-shadow: 3px 3px 0px rgb(0, 0, 0);
}

.hide{
  display:none;
};